:root {
    --background-color: #121212;
    --text-color-white: #fff;
    --text-color-gray: #6B7280;
    --text-color-light-gray: #DFDDDD;
    --text-color-dark-gray: #2E2E2F;
    --btn-bg-color: #4b4b4b;
    --search-bg-color: #2e2e2f;
    --box-shadow-color: #0000000D;
    --active-color: rgb(103, 1, 1);
    --placeholder-color: #363636;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color-white);
}

.background {
    height: 13rem;
    background: url("images/movie-header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color-white);
    position: relative;
}

.background h1 {
    font-size: 2.675rem;
    font-weight: 800;
    margin-left: 1.25rem;
}

.internal-link {
    text-decoration: none;
    color: var(--text-color-white);
    font-size: 0.875rem;
    font-weight: 700;
}

.search-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 90vw;
    max-width: 43.75rem;
    margin: 0 auto;
    bottom: -1.1875rem;
}

#search-btn, .search-container input {
    height: 2.375rem;
    border: none;
    box-shadow: 0 0.0625rem 0.125rem var(--box-shadow-color);
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 500;
    outline: none;
}

.search-container input {
    width: 75%;
    border-top-left-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
    padding: 0.5625rem 0.8125rem 0.5625rem 1.8125rem;
    background: var(--search-bg-color);
    background-image: url("./images/Search.png");
    background-size: 0.8125rem;
    background-repeat: no-repeat;
    background-position: 0.625rem center;
    color: var(--text-color-gray);
}

#search-btn {
    width: 25%;
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
    padding: 0.5625rem 1.0625rem 0.5625rem 1.0625rem;
    background: var(--btn-bg-color);    
    color: var(--text-color-white);
    cursor: pointer;
}

#search-btn:active {
    border: inset;
}

.list {
    position: relative;
    z-index: 1;
}

.movies-container {
    position: absolute;
    top: 25vh;
    left: 50%;
    margin-left: -3.125rem; /* Half the width of the child div */
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.25rem;
    text-align: center;
    color: var(--text-color-light-gray);
}

.movies-container-para {
    font-weight: 700;
    color: var(--text-color-dark-gray);
}

.transform-left {
    margin-left: -9.375rem;
}

.watchlist-container {
    position: absolute;
    width: 31.25rem;
    height: 6.25rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 100%);
    color: var(--text-color-light-gray);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.78125rem;
    text-align: center;
}

.wl-placeholder p {
    margin: 0;
}

.wl-placeholder a {
    color: var(--placeholder-color);
    font-weight: 700;
    font-size: 0.875rem;
    background-image: url(./images/add.svg);
    background-repeat: no-repeat;
    padding-left: 1.25rem;
}

.movie {
    width: 90vw;
    max-width: 43.75rem;
    margin: 2rem auto;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 0.5fr 0.25fr 0.66fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "p t t t"
    "p ru g a"
    "p pl pl pl";
    align-items: center;
    justify-content: center;
    border-bottom: 0.09375rem solid #E5E7EB;
}

.movie:last-child {
    border-bottom: none;
}

.poster {
    height: 9.213125rem;
    grid-area: p;
    align-self: self-start;
}

.title {
    font-size: 1.125rem;
    font-weight: 500;
    grid-area: t;
}

.runtime, 
.genre, 
.add, 
.rating {
    color: var(--text-color-white);
    font-size: 0.75rem;
}

.rating {
    line-height: 1.25rem;
    font-weight: 400;
    grid-area: r;
}

.runtime {
    grid-area: ru;
}

.genre {
    grid-area: g;
}

.add {
    grid-area: a;
}

.plot {
    color: var(--text-color-gray);
    font-size: 0.875rem;
    grid-area: pl;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: d;
}

.add-to-watchlist, 
.delete-from-watchlist {
    background-position: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 1.5rem;
    color: inherit;
    transition: color ease-out 0.3s;
}

.add-to-watchlist {
    background-image: url('./images/add.svg');
}

.delete-from-watchlist {
    background-image: url('./images/remove.svg');
}

.add-to-watchlist:hover,
.delete-from-watchlist:hover {
    text-decoration: underline;
    transform: scale(1.125);
}

.add-to-watchlist:active,
.delete-from-watchlist:active {
    color: var(--active-color);
}

.add-to-watchlist img,
.delete-from-watchlist img {
    transform: translateY(0.25rem);
}

.btn-text {
    padding-left: 0.25rem;
}

button {
    font-size: 0.75rem;
}

.msg {
    font-weight: 700;
    font-size: 2rem;
    position: fixed;
    background-color: var(--active-color);
    color: var(--text-color-white);
    width: 31.25rem;
    height: 3.125rem;
    bottom: 5%;
    left: 50%;
    margin-top: -6.25rem;
    margin-left: -15.625rem;
    border-radius: 0.625rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 85%;
    transition: opacity 0.3s ease-out;
}

.fade {
    opacity: 0%;
}

.hide-behind {
    z-index: -1;
}

@media (max-width: 26.25rem) {
    .poster {
        margin-right: 0.625rem;
    }

    .movie {
        gap: 0.4375rem;
    }

    .msg {
        font-size: 1.45rem;
        max-width: 90vw;
        height: 3.125rem;
        bottom: 5%;
        left: 50%;
        margin-top: -6.25rem;
        margin-left: -45vw;
    }
}
